<div class="betters-wrapper">
    <div class="betters-container" *ngIf="selectedPlayers.length > 0">
        <div class="upper">
            <div *ngFor="let player of selectedPlayers.slice(0,5)" class="player-card" [class.winner]="player.bet == opposingBet">
                <div class="name-sec">
                    <img [src]="player.avatar" />
                    <h6>{{player.name}}</h6>
                </div>
                <div class="stats">
                    <div class="stat-item"><img src="../../../assets/img/roulette.png" />{{ player.bet }}</div>
                    <div class="stat-item"><img src="../../../assets/img/trophy.png" />{{ player.wins }}</div>
                    <div class="stat-item"><img src="../../../assets/img/price.png" />{{ player.price }}</div>
                    <div class="stat-item"><img src="../../../assets/img/winnings.png" />{{ player.winnings }}</div>
                </div>
                <div class="result">
                    {{ player.bet == opposingBet ? 'Win' : 'Lose'}}
                </div>
            </div>
        </div>
        <div class="divider">
            <div class="line"></div>
            <div class="opposingBet"><h1>{{ opposingBet }}</h1></div>
            <div class="line"></div>
        </div>
        <div class="lower">
            <div *ngFor="let player of selectedPlayers.slice(5)" class="player-card" [class.winner]="player.bet == opposingBet">
                <div class="name-sec">
                    <img [src]="player.avatar" />
                    <h6>{{player.name}}</h6>
                </div>
                <div class="stats">
                    <div class="stat-item"><img src="../../../assets/img/roulette.png" />{{ player.bet }}</div>
                    <div class="stat-item"><img src="../../../assets/img/trophy.png" />{{ player.wins }}</div>
                    <div class="stat-item"><img src="../../../assets/img/price.png" />{{ player.price }}</div>
                    <div class="stat-item"><img src="../../../assets/img/winnings.png" />{{ player.winnings }}</div>
                </div>
                <div class="result">
                    {{ player.bet == opposingBet ? 'Win' : 'Lose'}}
                </div>
            </div>
        </div>
    </div>
</div>

